{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css"
    />

     <!-- htmx cdn link-->
    <script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>
    <!-- vue js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body style="min-height:100vh;">
    <!-- navbar-->
    {% include 'partial/navbar.html'%}
      {% block content%}
      {% endblock content %}
    <!-- footer-->
    <footer class="footer is-info mt-auto" style="position:sticky; top:100;">
      <div class="content mt-6 is-flex is-justify-content-center">
        <p>&copy; Copyright 2022 <strong>AneesAhemdBaloch</strong></p>
      </div>
    </footer>
   <!-- htmx casr_ token -->
    <script>
      document.body.addEventListener('htmx:configRequest', (e) => {
          e.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
          })
    </script>

    {% comment %}ioniicons scripts{% endcomment %}
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

  </body>
</html>
