{% extends 'base.html'%} {% load static %}

{% block content%}
<div class="columns is-multiline is-mobile mt-5 has-shadow">
	{% for product in get_product %}
	<div class="column is-3">
		<div class="card">
			<div class="card-image">
				<figure class="image is-1by1"><img src="{{product.product_image}}" alt="Image"></figure>
			</div>
			<div class="meida-content">
				<h3 class="title is-5">{{product.name}}</h1>
				<p class="subtitle is-6">{{product.product_price}}</p>
				<div class="is-flex is-justify-content-right">
					<button class="button is-primary mb-2 mx-2 is-responsive is-small">Buy now</button>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
	
{% endblock %}