{% extends "base.html" %}{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <form action="{% url "change_password" %}" method="post">
        <div class="field">
          <div class="control">
            {{form|crispy}}
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-purple" type="submit">send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
