<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>navbar</title>
  <!-- bulma link -->

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css"
    />

     <!-- htmx cdn link-->
    <script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>
</head>
  <body>
    <section class="container">
        {% for item in get_cart %}
          <div class="box is-flex is-flex-wrap-wrap">
            <figure class="is-flex image is-128x128">
              <img src="{{item.product.product_image}}" alt="Image">
            </figure>
            <div class="is-justify-content-space-between is-flex-wrap-wrap
              py-5">
              <span class="has-text-weight-medium pl-6">Price<span>
              <span>{{item.product.product_price}}</span>
              <span class="has-text-weight-medium pl-6">Quanntity<span>
              <span>{{item.quantity}}</span>
            </div>
          </div>
        <!-- information form -->
        <div class="columns is-centered is-variable is-2 is-mobile">
          <div class="column is-6">
            <span class="is-size-3 is-flex is-flex-wrap-wrap">Order information</span>
            <form action="{% url 'create_checkout_session' item.pk %}" method="POST" class=" mt-4 mb-6 is-flex is-flex-direction-column is-justify-content-space-evenly is-flex-wrap-wrap">
              {% csrf_token %}
              <label>Name</label>
              <input type="text" class="input my-2" name="name" placeholder="name"
              required>
              <label>Contact no</label>
              <input type="text" class="input my-2" name="contact" placeholder="Contact no"
              required>
              <label>Email</label>
              <input type="email" class="my-2 input" placeholder="email" name="email" required>
              <label>Postel code</label>
              <input type="text" class="my-2 input" placeholder="zip" name="zip"  required>
              <label>Select Country</label>
              <ul>
                {% for country_list in country_list%}
                <li>{{country_list.country}}</li>
                {% endfor %}
              </ul>
              <label>Address</label>
              <textarea class="textarea" class="my-2" placeholder="Address" name="address"
              row=3 required></textarea>
              <div class="is-flex is-justify-content-center my-3">
                <button type="submit" class="button is-success px-6">Pay</button>
              </div>

            </form>
          </div>
        </div>
      {% endfor %}
    </section>
  </body>
</html>
