{% extends 'base.html' %} {% block title %} home {% endblock title %}
{% load static %} {% block content %}
<!-- card -->
<section class="container mb-6">
  <div class="my-6"><p class="has-text-centered">{% include 'partial/messages.html'%}</p></div>
  <div id="Home" class="is-flex is-flex-wrap-wrap is-justify-content-center">
    {% for p in pro.reverse%}
    <div class="column is-3 is-narrow-mobile has-text-centered">
      <div class="card">
        <div class="">
          <figure class="image is-1by1">
            <img src="{{p.product_image}}" alt="Image" />
          </figure>
        </div>
        <div class="media-content ml-1">
          <p class="title is-size-5 is-size-7-mobile mt-1">{{p.name}}</p>
          <p class="subtitle is-6 is-size-7-mobile">{{p.product_price}}$</p>
          <div class="is-flex is-justify-content-space-evenly" id="cartbtn">
            <button class="button is-primary is-light is-text is-small is-responsive mb-1 ml-1">
              Buy
            </button>
            {% if user.is_authenticated %}
            <button hx-post="{% url 'add_to_cart' p.pk %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-target="#messages" type="submit" class="button is-warning is-light is-relative is-text is-responsive is-small mb-1 mr-1">
              Cart
            </button>
            <button hx-post="{% url 'add_to_wishlist' p.pk %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-target="#messages" type="submit" class="button is-warning is-light is-relative is-text is-responsive is-small mb-1 mr-1">
             Add to wistlist 
            </button>

            {% else%}
            <button hx-post="{% url 'add_to_cart' p.pk %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-swap="outerHTML" hx-target="#Home" type="submit" class="button is-warning is-light is-relative is-text is-responsive is-small mb-1 mr-1">
              Cart
            </button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock content %}
