{% extends 'base.html'%} {% block title %} serach results {% endblock title %} {% load static %}

{% block content%}
{% if search %}
<div class="columns is-multiline is-mobile mt-5 has-shadow">
    {% for s in search %}
    <div class="column is-3">
        <figure class="image is-square">
                <img src="{{s.product_image}}" alt="image">
        </figure>
        <div class="is-size-5 is-size-6 has-text-weight-medium">
                <span class="mx-2">{{s.name}}</span><br>
                <span class="mx-2 mt-1">Price {{s.product_price}}$</span>
        </div>
        <div class="is-flex is-justify-content-right mt-2">
                <button class="button is-primary" type="submit" >buy</button>
        </div>
                
    </div>
    {% endfor %}
{% else %}
<p class=" is-flex is-justify-content-space-around is-flex-warp-warp  is-text-weight-medium has-text-grey-lighter mt-6 is-size-4 is-size-5-mobile">The Product is not avalible you Searched</p>
{% endif %}
{% endblock %}
