{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>signin</title>
  <!-- bulma link -->

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css"
    />

     <!-- htmx cdn link-->
    <script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>
</head>
<body>
<section class="columns is-centered is-variable is-5">
  <div class="column is-two-fifths">
    <div class="is-flex is-flex-wrap-wrap is-justify-content-center is-flex-direction-column">
      {% if messages %} {% for msg in messages %}
      <article class=" my-5 message is-success">
        <div class="message-body">{{msg}}</div>
      </article>
      {% endfor %} {% endif%}
      <div class="my-6 box mx-3" style="border: 2px solid grey">
        <span class="title is-flex is-justify-content-center"
          >Signin</span>
        <form method="POST" action="{% url 'signin' %}" class="mt-5">
          {% csrf_token %} {{signin_form|crispy}}
          <div class="is-flex is-justify-content-center">
            <button class="button is-primary mt-3">signin</button>
          </div>
          <p class="has-text-centered my-2">If you don't hava Account click here <a href="signup">create account</a></p>
        </form>
      </div>
    </div>
  </div>
</section>
</body>
</html>
