{% extends 'base.html' %} {% load crispy_forms_tags %}

{% block content %}
<div class="columns is-centered py-6">
  <div class="column is-half is-offset-one-quarter mx-6" style="border: 2px solid grey;">
    <h2 class="title">Create Account</h2>
    <form action="{% url 'signup'%}" method="POST">
      {% csrf_token%}
      {{form|crispy}}
      <div class="is-flex is-justify-content-center">
        <button class="button is-primary" type="submit">Register</button>
      </div>
        <p class="has-text-centered py-2">If you hava an Account Click Here <a href="{% url "change_password" %}" class="is-info">Forgot password </a></p>
    </form>
  </div>
</div>

{% endblock content %}
