{% extends 'base.html'%} {% load static %}

{% block content%}
<div class="columns is-multiline is-mobile mt-5 has-shadow">
	{% for data in data %}
	<div class="columns">
		<div class="column">
			<figure class="image is-1by1"><img src="{{data.product_image}}" alt=""></figure>
			<div>
				<h3 class="title is-size-3">{{data.name}}</h3>
				<p class="is-size-5">{{data.product_detail}}</p>
			</div>
			
		</div>
		<div class="column">
			<figure class="image is-128-128"><img src="{{data.product_detail_images}}" alt=""></figure>
		</div>

		
	</div>
    
	{% endfor %}
</div>
{% endblock %}