{% extends "base.html"%} {% block content%}

<div class="container">
    <h1 class="title has-text-centered is-size-3-mobile">Wish List</h1>
    <div class="is-flex is-justify-content-center">
        <div class="columns">
            <div class="column is-half" >
                <table class="table">
                    <thead>
                        <tr>
                            <th><abbr title="Product">Product</abbr></th>
                            <th><abbr title="Name">Name</abbr></th>
                            <th><abbr title="Price">Price</abbr></th>
                            <th><abbr title="Cart">Cart</abbr></th>
                            <th><abbr title="Remove">Remove</abbr></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in wish_items %}
                        <tr>
                            <td>
                                <figure class="image is-64x64">
                                    <img
                                        src="{{item.product.product_image.url}}"
                                        alt="image"
                                    />
                                </figure>
                            </td>
                            <td>{{item.product.name}}</td>
                            <td>{{item.product.product_price}}</td>
                            <td>
                                <a href="" class="button is-link">
                                    <div class="icon-text">
                                        <span class="icon">
                                            <ion-icon name="cart-outline"></ion-icon>
                                        </span>
                                    </div>
                                </a>
                            </td>
                            <td>
                                <a href="" class="button is-warning is-outlined">
                                    <div class="icon-text">
                                        <span class="icon">
                                            <ion-icon name="trash-outline"></ion-icon>
                                        </span>
                                    </div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
