<section class="columns is-mobile is-2 is-multiline is-centered">
    {% for item in cart_items %}
    <div class="column is-9 id="cartid">
      <div class="box" id="Box">
        <figure class=" is-flex image is-128x128">
          <img src="{{item.product.product_image}}" alt="Image" />
        </figure>
        <div class="">
          <ul
            class=""
          >
            <li>Name {{item.product.name}}</li>
            <li>Price {{item.product.product_price}}</li>
            <button
              class="button is-info is-small is-hoverable"
              hx-get="{% url 'product_quantity_decreases' item.pk %}"
              hx-swap="outerhtml"
							hx-target = "#quantity"
              type="submit"
            >
							-
            </button>
						<div id="quantity">
            	<p>{{item.quantity}}</p>
						</div>
          <p> totel price</p>
            <p>{{item.get_totel_price}}</p>
            {% include 'partial/quantity.html'%}
            <button
              class="button is-info is-small is-hoverable"
              hx-post="{% url 'product_quantity_increases' item.pk %}"
              hx-swap="outerhtml"
              type="submit"
							hx-target = "#quantity"
            >
              +
            </button>
            <button
              class="button is-danger is-small p-1"
              hx-post="{% url 'delete_cart_item' item.pk %}"
              hx-swap="delete"
              hx-target="#Box"
              type="submit"
            >
              remove
            </button>
            <div class="is-flex is-justify-content-right my-0">
              <form action="{% url 'checkout' %}" method="POST">
                {% csrf_token %}
                <button class="button is-warning">Checkout</button>
              </form>
            </div>
          </ul>
        </div>
      <!-- check out session -->
      </div>
    </div>
    {% endfor %}
</section>
