{% load static %}
{% block content %}
<div id="messages" class='is-flex is-justify-content-center'>
  {% if messages %}
  {% for msg in messages%}
    {% if msg.tags == 'success' %}
        <p class="is-size-6 has-text-success">{{msg}}</p>
    {% elif msg.tags == 'warning' %}
        <p class="is-size-6 has-text-warning">{{msg}}</p>
    {% elif msg.tags == 'error' %}
        <p class="is-size-6 has-text-danger">{{msg}}</p>
    {% endif %}
  {%endfor %}

  {% endif%}
</div>

{% endblock content %}
