<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>navbar</title>
	<!-- bulma link -->

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css" />

	<!-- htmx cdn link-->
	<script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>
</head>

<body id="app">
	<!-- navbar start -->
	<nav class="navbar is-transpherent has-shadow is-success" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<p class="pl-1 ml-2 has-text-white is-size-2 is-size-3-mobile has-text-weight-bold">
				Elite
			</p>
			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>
		<div class="navbar-menu" id="navbarBasicExample">
			<div class="navbar-start">

                <a href="{% url 'home' %}" class="navbar-item">
                 <div class="icon-text">
                         <span class="icon">
                             <ion-icon name="home-outline"></ion-icon>
                         </span>
                         <span>Home</span>
                 </div>
                </a>
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link">
                    <div class="icon-text">
                        <span class="icon">
                            <ion-icon name="duplicate-outline"></ion-icon>
                        </span>
                        <span>Categoreys</span>
                    </div>
                    </a>
					<div class="navbar-dropdown">
						{% for cat in cat %}
						<a href="{% url 'category_data' cat.pk %}" class="navbar-item">{{cat.create_category}}</a><br>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="navbar-end">
				{% if user.is_authenticated %}
					<a class="navbar-item" href="{% url "cart" %}">
                        <div class="icon-text">
                            <span class="icon">
                                <ion-icon name="cart-outline"></ion-icon>
                            </span>
                            <span>Cart</span>
                        </div>
                    </a>
					<a class="navbar-item" href="{% url "wishlist" %}">
                        <div class="icon-text"><span class="icon"><ion-icon name="people-circle-outline"></ion-icon></span><span>wishlist</span></div>
                    </a>
						<a href="{%url 'user_page' user.id%}" class="navbar-item is-success">
                            <div class="icon-text">
                                <span class="icon">
                                    <ion-icon name="people-outline"></ion-icon>
                                </span>
                                <span>User</span>
                            </div>
                        </a>
						<p class="navbar-item is-success">{{request.user}}</p>
						<a href="{% url 'signout' %}" class="navbar-item ">
                            <div class="icon-text">
                                <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                                <span>Logout</span>
                            </div>
                        </a>
						<a href="{% url 'change_password' %}" class="navbar-item">
                            <div class="icon-text">
                                <span class="icon"><ion-icon name="reload-outline"></ion-icon></span>
                                <span>Forgot Password</span>
                            </div>
                        </a>
						{% else %}
						<a href="{% url 'signin' %}" class="navbar-item">
                            <div class="icon-text">
                                <span class="icon"><ion-icon name="key-outline"></ion-icon></span>
                                <span>Login</span>
                            </div>
                        </a>
                        <a href="{% url 'signup' %}" class="navbar-item">
                            <div class="icon-text">
                                <span class="icon"><ion-icon name="key-outline"></ion-icon></span>
                                <span>Create Account</span>
                            </div>
                        </a>
						{% endif %}
		                <button @click="showSearch = !showSearch" class="navbar-item button is-success pt-3 " type="button" name="button">
                            <span class="icon pt-4">
                                <ion-icon name="search-outline"></ion-icon>
                            </span>
                        </button>
			</div>
		</div>
	</nav>
	<!-- navbar end -->
	<!-- search bar -->
	<div class="container">
		<!-- search bar form-->
		<div v-if="showSearch">
			<form action="searchbar" method="POST">
				{% csrf_token %}
				<div class="is-field mt-1 ">
					<div class="is-control is-flex">
						<input type="text" class="input is-hovered is-success is-responsive " placeholder="Search" name="searchbar" />
						<button class="button is-success is-hovered" type="submit">Search</button>
					</div>
				</div>
			</form>
		</div>
	</div>

<script type="module">
  import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

  createApp({
    setup() {
      const message = ref('Hello Vue!')
      const showSearch = ref(false)
      return {
        message,
        showSearch
      }
    }
  }).mount('#app')
</script>

</body>

</html>
