{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css"
    />

    <title>base templates</title>
  </head>
  <body>
    <!-- navbar-->
    <nav
      class="navbar is-transpherent has-shadow is-success"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <p class="pl-1 ml-2 has-text-white is-size-2 has-text-weight-bold">
          Elite
        </p>
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="navbarBasicExample">
        <div class="navbar-start">
          <a href="{% url 'home' %}" class="navbar-link">Home</a>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Category</a>
          <div class="navbar-dropdown"></div>
        </div>
        <div class="navbar-end my-4 ml-4 is-responsive-mobile">
          <button class="button is-success">Sign in</button>
          <button class="button is-success">Sign up</button>
          <button class="button is-success">Sign out</button>
        </div>
				div.navbar>
      </div>
    </nav>
    <div class="container">
      <!-- search bar-->
      <div class="control is-flex mt-1">
        <input
          type="text"
          class="input is-hovered is-success"
          placeholder="Search"
        />
        <button class="button is-success is-hoverable">Search</button>
      </div>
      {% block content%} {% endblock content %}
    </div>

    <!-- navbar burger in javascript-->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(
          document.querySelectorAll(".navbar-burger"),
          0
        );

        // Add a click event on each of them
        $navbarBurgers.forEach((el) => {
          el.addEventListener("click", () => {
            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle("is-active");
            $target.classList.toggle("is-active");
          });
        });
      });
    </script>

    <!-- htmx cdn link-->
    <script
      src="https://unpkg.com/htmx.org@1.8.0"
      integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
