 {% load static %} 
{% block content %}
<!-- card -->
<div class="columns mt-3 is-mobile is-multiline">
  <div class="column is-3">
    <div class="card">
      <div class="card-image">
        <figure class="image is-1by1">
          <img
            src="/static/images/phone-g750d0f5cf_1280.jpg"
            alt="image"
          />
        </figure>
      </div>
      <div class="media-content ml-1">
        <p class="title is-5 mt-1">Samsung mobile</p>
        <p class="subtitle is-6">300$</p>
        <div class="is-flex is-justify-content-right">
          <button class="button is-success is-small is-responsive mb-2 mx-2">Buy now</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
