{% extends 'base.html'%}

{% block content %}
<div class="container">
	{% for order in user_and_order%}
	<h2 class="title is-2">Anees Ahmed</h2>
	<div class="is-flex">
		<h3 class="title is-3">order</h3>
		<p class="is-size-4">order.product.name</p>
		<p class="is-size-4">Product staus</p>
	</div>
	{% endfor %}
</div>
{% endblock content %}
